@model IEnumerable<QuanLyDeTaiNCKH.Models.LoaiDeTai>
@using QuanLyDeTaiNCKH.Models
@using System.Linq
@{
    ViewBag.Title = "Trang chủ";
}


<div class="row">
    <h1>Trang web quản lý đề tài nghiên cứu khoa học khoa công nghệ thông tin trường Đại Học Mở Thành Phố Hồ Chí Minh</h1>
</div>